:host ::ng-deep .mat-button-wrapper {
  padding: 0px;
}
.color {
  margin: 4px;
  mat-icon {
    color: #fff;
  }
}
.initiative {
  margin-bottom: 30px;
  input {
    text-align: center;
  }
}
.bold {
  font-weight: bold;
  text-align: center;
}
