<h1 mat-dialog-title>Добавление заклинаний</h1>

<div mat-dialog-content>
  <div [formGroup]="filterForm">
    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
      <mat-form-field fxFlex.gt-xs="40%">
        <mat-label>Фильтрация по имени</mat-label>
        <input matInput autocomplete="off" formControlName="searchString">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="40%">
        <mat-label>Источник</mat-label>
        <mat-select formControlName="source">
          <mat-option value="all">Все источники</mat-option>
          <mat-option *ngFor="let source of sources" [value]="source">{{source}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let spell">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(spell) : null"
                      [checked]="selection.isSelected(spell)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название </th>
      <td mat-cell *matCellDef="let spell">
        {{spell.nameRu}}
        <div class="level">{{spell.level === 0 ? 'Заговор' : spell.level + ' Уровень'}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef> Школа </th>
      <td mat-cell *matCellDef="let spell"> {{spell.school}} </td>
    </ng-container>

    <ng-container matColumnDef="classes">
      <th mat-header-cell *matHeaderCellDef> Классы </th>
      <td mat-cell *matCellDef="let spell"> {{spell.classes.join(', ')}} </td>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef> Источник </th>
      <td mat-cell *matCellDef="let spell"> {{spell.source}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let spell">
        <button color="primary" mat-icon-button (click)="$event.stopImmediatePropagation(); viewSpell(spell)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let spell; columns: displayedColumns;"
      (click)="selection.toggle(spell)">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Отмена</button>
  <button mat-button
          [disabled]="selection.isEmpty()"
          [mat-dialog-close]="selection.selected">
    Добавить
  </button>
</div>
