<section id="main-image">
    <div fxLayout="column" fxFlex.gt-sm="50%" fxLayoutGap="2em">
      <img class="logo-big" src="../../../assets/images/logo_big.png">
      <div class="main-info">
        Набор удобных инструментов мастера и игроков для игры в D&D
      </div>
    </div>
    <a href="#features" class="show-more">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </a>
  </section>
  <h1 id="features">Возможности сервиса:</h1>
  <section fxLayout.gt-xs="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
    <mat-card class="feature" fxFlex.gt-xs="32%">
      <mat-icon class="icon">assignment</mat-icon>
      <h3>Виртуальный лист персонажа</h3>
      <p>
        Наш сервис позволит вам хранить листы всех ваших персонажей в одном месте и при необходимости
        быстро переключиться на другого персонажа.
      </p>
    </mat-card>
    <mat-card class="feature" fxFlex.gt-xs="32%">
      <mat-icon class="icon">devices</mat-icon>
      <h3>Адаптивный интерфейс</h3>
      <p>
        Интерфейс сайта автоматически подстраивается под устройство, которым вы пользуетесь, что
        обеспечивает удобный опыт использования как с мобильных устройств, так и с компьютера.
      </p>
    </mat-card>
    <mat-card class="feature" fxFlex.gt-xs="32%">
      <mat-icon class="icon">cloud_upload</mat-icon>
      <h3>Доступ из любого места</h3>
      <p>
        Поскольку данные хранятся в облаке, вы можете получить к ним доступ в любое время и с любого
        устройства для просмотра или редактирования ваших данных.
      </p>
    </mat-card>
    <mat-card class="feature" fxFlex.gt-xs="32%">
      <mat-icon class="icon">collections_bookmark</mat-icon>
      <h3>Список заклинаний</h3>
      <span class="soon">В ближайшем будущем!</span>
      <p>
        Составьте список заклинаний или умений для своего персонажа, чтобы всегда иметь возможность
        получить мгновенный доступ к этой информации.
      </p>
    </mat-card>
    <mat-card class="feature" fxFlex.gt-xs="32%">
      <mat-icon class="icon">supervisor_account</mat-icon>
      <h3>Инструменты мастера</h3>
      <span class="soon">В ближайшем будущем!</span>
      <p>
        Удобные инструменты мастера помогут вам в составлении приключений и отслеживанни информации
        о неигровых персонажах во время сражения.
      </p>
    </mat-card>
  </section>