@import "../../my-theme.scss";

.avatar {
  margin: 10px;
  mat-icon {
    color: $primary;
    height: 128px;
    width: 128px;
    font-size: 128px;
    cursor: pointer;
  }
  img {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
  }
}
.head-info {
  margin: 10px;
}
.input-large {
  font-size: 1.5rem;
  min-width: 50%;
}

.row {
  text-align: center;
  mat-form-field {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.spinner {
  position: absolute;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.save-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  color: #fff;
}
.spells {
  margin: 30px;
}

.stats {
  margin: 10px;
  height: fit-content;
  mat-card-content {
    display: flex;
    justify-content: space-around;
  }
  .wrapper {
    width: 110px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 10px;
    color: #fff;
  }
  .stats-element {
    cursor: pointer;
    width: 110px;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    padding-top: 10px;
    background: $primary;
    height: 110px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  
    .modificator {
      width: 50%;
      height: 35px;
      color: #fff;
      font-size: 46px;
      padding-top: 10px;
      margin: auto;
      margin-top: 5px;
    }
  
    .value {
      font-size: 18px;
      color: $primary;
      width: 40%;
      height: 25px;
      padding-top: 5px;
      margin: auto;
      border-radius: 10px;
      background: #fff;
      margin-top: 5px;
    }
  }
}
.parameter-with-title {
  .value {
      box-shadow: 0 0 5px rgba(0,0,0,0.35);
      color: #fff;
      background: $primary;
      height: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
      padding-left: 15px;
      border-radius: 50px;
      cursor: pointer;
  }
  .name {
      padding-left: 10px;
      font-size: 18px;
  }
}
.skills-col > * {
  margin: 10px;
}
.skill {
  mat-checkbox {
    display: inline-block;
    margin-right: 10px;
  }
  mat-form-field {
    width: 30px;
    padding-top: 0px;
    text-align: center;
    margin-top: 0px;
  }
}
.round-param {
  cursor: pointer;
    .param {
        padding: 40px;
        margin: 10px;
        position: relative;
        background: $primary;
        border-radius: 50px;
        box-shadow: 0 0 5px rgba(0,0,0,0.35);
    }
    .value {
        position: absolute;
        top: 35%;
        bottom: 0px;
        left: 0px;
        right: 0px;
        color: #fff;
        font-size: 28px;
    }
    span {
        display: block;
        width: 100%;
        text-align: center;
    }
}
.hp-card {
  margin: 10px;
  min-height: 150px;
  .card-title {
    text-align: center;
    font-weight: bold;
  }
  .edit-btn {
    position: absolute;
    right: 10px;
    top: 0px;
  }
  .section {
    height: 100px;
    .value-block {
      text-align: center;
      .title {
        font-size: 12px;
        font-weight: bold;
      }
      .value {
        font-size: 32px;
        font-weight: bold;
      }
    }
    .separator {
      width: 25px;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 15px;
    }
  }
}
.money {
  margin-right: 15px;
  mat-form-field {
    width: 80px;
  }
}
.inventory {
  width: 80%;
}
.note {
  min-height: 300px;
}
.spacing {
  margin: 10px;
}
.note-edit {
  padding: 10px;
}
.tab-item {
  margin-top: 20px;
}
.center {
  text-align: center;
}
::ng-deep .mat-list-item-content {
  width: 100%;
}
