<form [formGroup]="form" (ngSubmit)="formSubmit()">

  <div class="control-buttons" fxLayout="column" fxLayoutAlign="space-between">
    <button mat-mini-fab
            appLongPress
            (longPressing)="increaceHeal()"
            type="button"
            class="heal">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-mini-fab
            appLongPress
            (longPressing)="increaceDamage()"
            type="button"
            class="damage">
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-icon-button color="primary" type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>

    <button mat-icon-button color="primary" type="submit">
      <mat-icon>done</mat-icon>
    </button>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between" class="section">
    <div fxLayout="row" fxLayoutAlign="space-around" class="result">
      <div fxLayout="column" fxLayoutAlign="space-between" [class]="currentHpStyle">
        <div>НОВЫЕ ОСНОВНЫЕ</div>
        <div>{{newCurrent}}</div>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-between" [class]="temporaryHpStyle" *ngIf="temporaryHp.value">
        <div>НОВЫЕ ВРЕМЕННЫЕ</div>
        <div>{{newTemporary}}</div>
      </div>
    </div>

    <div class="change-input-heal" fxLayout="column" fxLayoutAlign="space-around">
      <div class="title heal">ИСЦЕЛЕНИЕ</div>
      <div class="title heal">{{healing.value}}</div>
    </div>

    <div class="change-input-damage" fxLayout="column" fxLayoutAlign="space-around">
      <div class="title damage">УРОН</div>
      <div class="title damage">{{damage.value}}</div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="space-between" class="section">
      <div class="title">ВСЕГО ХИТОВ</div>

      <div fxLayuot="row" fxLayoutAlign="space-around">
        <mat-form-field>
          <input matInput type="number" formControlName="maxHp">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between" class="section">
      <div class="title">ВРЕМЕННЫЕ ХИТЫ</div>

      <div fxLayuot="row" fxLayoutAlign="space-around">
        <mat-form-field>
          <input matInput type="number" formControlName="temporaryHp">
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
